

.navBar{
    width: 100%;
    margin-bottom: 50px;
}

/*@media (max-width: 900px) {
    .navBar{
        margin-bottom: -10px;
    }
}
*/




.navBar2{
    position: fixed;
    top:-10px;
    left: -10px;
    width: calc(100% + 20px);
    margin-bottom: 50px;
}

/*usar en 2*/
/*.containerApp{
   margin-top: 100px;
}*/

/*usar en 3*/
.containerApp{
    margin: 70px 22px  0 240px; 
    width: 100%;
    background-color: rgba(222, 226, 230, .5);
}

@media (max-width: 1000px) {
    .containerApp{  
        margin: 0; 
        margin-top: 80px;
    }   
}




.navBar3{
    position: fixed;
    top:-10px;
    left: -10px;
    width: 240px;
}





.navBar3>.menu3 { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgba(33, 67, 100);
    height: 100vh;
   border-right: 4px solid darkred;
}





/*@media (max-width: 900px) {
    .navBar2{
        margin-bottom: -80px;
    }
}*/



/* azul */
.menu { 
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(114, 150, 214);

}

/* gris */
.hamburger {
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 5px 10px;
    margin: 0 auto;
    background-color: rgba(33, 67, 100);
    align-items: center;
    cursor: pointer;
    z-index: 100;

}

.navBar3>.hamburger {
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 5px 10px;
    margin: 0 auto;
    background-color: rgba(33, 67, 100);
    align-items: center;
    cursor: pointer;

}

@media(max-width:1000px){
    .navBar3{
        width: calc(100% + 20px);
        top:-10px;
        left: -10px;
    }
    .navBar3>.menu3{
         border-top: 2px solid darkred;
         justify-content: start;
         border-right:none;
    }
}



.active {
    color: rgba(149, 17, 17, 0.47);
}

.menu-bar {
    width: 26px;
    cursor: pointer;
    padding: 0;
    margin-left: 16px;
}

.uno,
.dos,
.tres {
    background: #ffffff;
    height: 4px;
    padding: 0;
}

.dos {
    margin: 4px 0;
}

@media (max-width: 1000px) {
    .menu {
        transform: translate(-600%);
    }
    .menu3 {
        transform: translate(-600%);
    }
}


@media (min-width: 1000px) {
    .hamburger {
        display: none;
    }

    .navBar3>.hamburger{
        display: none;
    } 
  
}


.display {
    flex-direction: column;
    transform: translate(0);
    transition: .4s;
}

.navBar a, .navBar2 a, .navBar3 a   {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    letter-spacing: .6px;
    user-select: none;

}

.navBar3>a:hover   {
   background-color: rgba(0, 0, 0, .2)!important;
   color: white!important;
}

.menuIcons{
    color: white;
    user-select: none;
    margin-bottom: 0;
}

.menuIconX{
    font-size: 28px;
    color: red;
}

.menuIcon{
    font-size: 20px;
    color: white;
    font-weight: 500;
    letter-spacing: .6px;
}




