

.ButtonsNuevoBuscar{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-bottom: 1px solid rgba(111, 111, 111,.2);
}


.ButtonsNuevoBuscar>button{
	width: 300px;
	text-transform: uppercase;
	margin-bottom: 36px;
/*	background-color: rgb(232,242,247);*/
	box-shadow: rgba(0, 70, 173, .3) 0 36px 60px -28px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}



.formInfoToSave{
	display: flex;
	flex-direction: column;
	margin: .6em 0 2.5em 0;

}




.formInfoToSave>p{
	font-weight: 100;
	color: #555;
}

.formInfoToSave>*{
	margin: 1em 3em;
/*	box-shadow: rgba(0, 70, 173, .3) 0 36px 60px -28px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset!important;
	color: white;*/
}



.formInfoToFind{
	margin: 40px 0 60px 0;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.formInfoToFind>div>input{
	width: 360px;
	/*box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;*/
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

label{
	color: #444;
	font-weight: 100!important;
}

.formInfoToSave>.button-primary{
	width: 300px;
	margin: 48px 2.2em 20px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	font-size: 20px;
}


@media(max-width:1160px){
	.formInfoToSave>*{
		margin: 1em;
	}
	.formInfoToSave>.button-primary{
		margin: 34px .8em 0px;
		margin-left: auto;
		margin-right: auto;
	}
	.ButtonsNuevoBuscar>button{
		width: 100%;
		margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 28px;
	}
	.formInfoToFind>div{
		width: 100%;

		padding: 2rem;
	}
	.formInfoToFind>div:first-child{
		margin-bottom: 1em;
	}
	.formInfoToFind>div:nth-child(2){

	}
	.formInfoToFind>div>input{
		width: 100%;
	}
	.formInfoToSave>p{
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 0;
	}
	label{
		font-weight: 500!important;
	}

}


.registroParroquial-h3{
	font-size: 2em;
	letter-spacing: .4px;
	font-family: oblique;
}

@media(max-width:1000px){
	.registroParroquial-h3{
		font-size: 1.6em;
		margin: 0;
	}
}

.datePicker {
	width: 100%;

	padding: 0;
}
.react-datepicker-ignore-onclickoutside>*{
	width: 100%;
	padding: 0;
	margin: 0;
}
.react-datepicker-wrapper{
			width: 94%;
			margin-right: 1em;

}
/*.react-datepicker__input-container{
	width: 100%;
		background-color: blue;
	margin-right: 1em;

}
.react-datepicker__input-container>*{
	width: 100%;
		background-color: blue;
	margin-right: 1em;

}*/

.w-100{
	width: 100%;
}

.w-100 p{
	margin: 0;
}
.w-100 span{
	font-weight: 100;
	padding: 0;
}

.textMarc {
	background-color: rgba(255,255,0, .7);
	width: 300px;
}

.cerrar{
	width: 100%;
	text-align: center;
	color:red;
	cursor: pointer;
	margin: 0;
	margin-top: 14px;
	font-family: cursive;
}

@media (max-width:1160px){
	.cerrar{
		margin-bottom: 30px;
	}
}

.d-none{
	display: none;
}

.no-encontrado{
	width: 100%;
	text-align: center;
	color:#444;
	cursor: pointer;
	margin: 0;
	margin-top: 20px;
	font-family: cursive;
}
.doc{
	display: block;
}

/*
.lupita{
	padding: 0;
	position: relative;
	font-size: 22px;
	font-weight: 100;
}*/

.logo{
	width: 30%;
	margin-left: 35%;
}
@media(max-width:1000px){
	.logo{
		margin-left: 0;
		width: 100%;
		padding: 0;

	}
}









