.ButtonsNuevoBuscar{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border-bottom: 1px solid gray;
}


.ButtonsNuevoBuscar>button{
	width: 300px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.formInfoToSave{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.formInfoToSave>*{
	margin: 1em 2em;
}

.formInfoToFind{
	margin: 50px 0;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.formInfoToFind>div>input{
	width: 300px;
}

label{
	color: #444;
	font-weight: 100!important;
}










